---
import '@fontsource-variable/nunito'

// import Navigation from '../components/Navigation.astro'
import { SITE_NAME, SITE_DESCRIPTION, DEFAULT_LOCALE } from '../lib/constants'

export interface Props {
    title?: string
    description?: string
    type?: 'website' | 'article'
    locale?: string
}

const { title, description = SITE_DESCRIPTION, type, locale } = Astro.props
const PAGE_TITLE = `${title ? `${title} | ` : ''}${SITE_NAME}`
---

<html
    class="scroll-pt-[72px] scroll-smooth bg-sky-200 sm:scroll-pt-0"
    lang={locale ?? DEFAULT_LOCALE}
>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link
            rel="icon"
            href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎺</text></svg>"
        />

        <title>{PAGE_TITLE}</title>
        <meta property="og:title" content={PAGE_TITLE} />
        {description && <meta name="description" content={description} />}
        {
            description && (
                <meta property="og:description" content={description} />
            )
        }
        <meta property="og:url" content={Astro.request.url} />
        <meta property="og:type" content={type ?? 'website'} />
        <meta property="og:locale" content={locale ?? DEFAULT_LOCALE} />
    </head>
    <body>
        <div id="content">
            <!-- <Navigation /> -->

            <slot />
        </div>
    </body>
</html>
